
/*--------------------------------------------------------------
SHOP DETAIL CSS
--------------------------------------------------------------*/
.shop-detail-area {
  .btn-fill { 
    background: var(--main-secondary);
    @media #{$lg} { 
      font-size: 10px; 
      padding: 16px 35px; 
    } 
    @media #{$sm} { 
      font-size: 10px; 
      padding: 16px 25px; 
    } 
  }
  .buy-now-btn {
    @media #{$sm} { 
      gap: 18px;
    } 
  } 
}

.shop-shape-2 {
  position: absolute;
  top: 16%;
  right: 11%;
  z-index: -1;
  @media #{$lg} {
    display: none;
  }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link { 
  border: 0; 
}

.related-top-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.product-thumb  { 
 width: 626px;
 height: 590px; 
 border: 4px solid var(--main-secondary);
 margin-bottom: 30px;
 position: relative; 
 .product-discount { 
    opacity: 1; 
  }
  @media #{$lg} {
    width: 500px;
    height: 500px;
  }
  @media #{$sm} {
    width: 100%;
    height: auto; 
  }
}

.product-thumb-img {
  width: auto;
  padding: 47px;
  @media #{$sm} {
    padding: 15px;
  }
}


.product-btn-wrap {
 gap: 13px;
}

.product-tab-btn {
 width: 196px !important;
 height: 196px !important;
 border: 4px solid var(--main-secondary) !important;
 padding: 1rem;
 margin: 0 4px 8px 4px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: var(--transition);
 &:hover {
  border: 4px solid var(--orange-dark) !important;
 }
 @media #{$xl} {
  width: 180px;
  height: 180px;
 }
 @media #{$lg} { 
  height: 160px !important;
 }
 @media #{$md} { 
  height: 200px !important;
 }
 @media #{$sm} { 
  height: 150px !important;
 }
}

.product-nav {
  max-width: 640px;
  margin-left: -13px;
}

.check-list {
  color: #8B9F9F;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  @media #{$xs} { 
    font-size: 12px;
  } 
}

.check-icon {
  font-size: 14px;
  color: var(--orange-dark);
}

.quantity {
 position: relative;
 display: inline-block;
 border: 1px solid rgba(255, 255, 255, 0.062745098);
 padding: 5px 48px;  
  input {
   background-color: transparent;
   border: 0;
   transform: translate(17px, 0px);
   color: var(--white);
   font-size: 16px;
  }
  .inc {
    color: #666666;
    position: absolute;
    right: 16px;
  }
  .dec {
    color: #666666;
    position: absolute;
    left: 16px;
  }
}

.shop-detail-title {
 color: var(--white);
 font-family: var(--font-family-cormorant);
 font-size: 32px;
 font-style: italic;
 font-weight: 700;
 text-transform: capitalize;
 padding-bottom: 15px;
 text-align: left; 
}

.shop-detail-price { 
 color: var(--white);
 font-size: 32px;
 font-weight: 500;
 display: flex; 
 gap: 5px; 
 span {
  color:#8B9F9F;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  transform: translate(0px, 6px); 
 }
}

.shop-quantity-title {
 color: var(--white); 
 font-family: var(--font-family-cormorant);
 font-size: 16px;
 font-style: italic;
 font-weight: 700; 
 text-transform: capitalize;
 padding-right: 15px;
}

.shop-detail-tag {
 color: #8B9F9F;
 font-size: 16px;
 font-weight: 400;
 display: flex;
 gap: 10px;
 padding-bottom: 40px;
 span {
  color: var(--white);
  font-family: var(--font-family-cormorant);
  font-size: 16px;
  font-style: italic;
  font-weight: 700;  
 } 
}
.product-text{ 
  gap: 100px;
  @media #{$md} {
  gap: 20px;
  }
}

.nav-tabs {
  border: none;
  gap: 30px;
  @media #{$sm} {
    gap: 20px;
  }
  .nav-item .nav-link {
    border: 1px solid #ffffff10;
    background-color: transparent;
    color: var(--white); 
    padding: 15px 39px 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center; 
  }
 }

 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
  border-color: #0C1A1A;
  background-color: #0C1A1A !important;
}

//Product slider
