/*--------------------------------------------------------------
PORTFOLIO CSS
--------------------------------------------------------------*/

/*=======================================================================
 Portfolio Area Start Hear
=========================================================================*/

.portfolio-content {
  background-image: url(../images/shapes/sun-round.png);
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-color: var(--main-secondary);
  position: relative;
  @media #{$lg} {
    background-image: none;
  }
}

.portfolio-shape {
  position: absolute;
  bottom: 4%;
  @media #{$lg} {
    display: none;
  }
}

.portfolio-right {
  @media #{$lg} {
    padding-top: 10px;
  } 
}

/* Custom style */

.accordion-button::after {
  background-image: url("../images/icons/arrow-top-dark-lg.svg");
  @media #{$sm} { 
    top: 12%;
    position: absolute;
    right: 0; 
  }
}

.portfolio-acc-title {
  font-size: 26px;
  padding: 12px 0px 20px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/arrow-bottom-yellow-lg.svg");
  height: 42px;
  transform: rotate(0deg);
}

.portfolio-accordion .portfolio-accordion-item {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid var(--text-light);
  background-color: transparent;

  &:first-child {
    border-top: 1px solid var(--text-light);
  }

  .accordion-header .accordion-button {
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background: var(--shade-bg-5);
    transition: all 0.5s ease-in-out;
    color: var(--white);

    &:hover {
      background: var(--main-tertiary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.accordion-button {
  &:not(.collapsed) {
    color: var(--text-dark);
    background-color: var(--white);
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.125);
  }

  &:focus {
    z-index: 3;
    border-color: var(--white);
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
  }
}

.portfolio-accordion .portfolio-accordion-item .accordion-collapse .card-body {
  padding: 0 0 30px 0;
  background: var(--shade-bg-5);

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.porfolio-top-text {
  @media #{$sm} {
    text-align: center;
  }
}
/*=======================================================================
 Project Status Area End Hear
=========================================================================*/

.fact {
  transform: translate(0, -50%);
  @media #{$sm} {
    transform: translate(0, -21%);
  }
}

.project-status-content {
  padding: 50px;
  background-color: var(--main-secondary);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 5px solid var(--orange-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 135px;
  @media #{$lg} {
    gap: 65px;
  }
  @media #{$lg} {
    gap: 20px;
  }
  @media #{$md} {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  @media #{$sm} {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
    
  .project-list {
    display: flex;
    align-items: end;

    .count-project {
      display: flex;
      align-items: center;

      strong {
        font-family: var(--font-family-manrope) !important;
        font-size: 120px;
        font-weight: 600;
        line-height: 144px;
        letter-spacing: -0.02em;
        color: var(--main-primary);

        /* padding-right: 30px; */
        text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1),
          1px 1px 0 rgba(255, 255, 255, 0.1),
          1px -1px 0 rgba(255, 255, 255, 0.1),
          -1px -1px 0 rgba(255, 255, 255, 0.1);
      }

      .counting-number {
        color: var(--main-secondary);
      }

      strong:last-child {
        padding-right: 30px;
      }

      span {
        font-family: var(--font-family-manrope) !important;
        font-size: 120px;
        font-weight: 600;
        line-height: 144px;
        letter-spacing: -0.02em;
        color: var(--main-primary);
        padding-right: 30px;
        text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.1),
          1px 1px 0 rgba(255, 255, 255, 0.1),
          1px -1px 0 rgba(255, 255, 255, 0.1),
          -1px -1px 0 rgba(255, 255, 255, 0.1);
      }
    }

    .project-shape {
      .shape-box {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        span {
          left: 10px !important;
          top: 10px !important;
          background: var(--main-tertiary);
          border: none !important;
        }
      }

      h5 {
        font-family: var(--font-family-cormorant);
        font-style: italic;
        transform: translate(0px, -30px);
      }
    }
  }
}

.counter-text {
  color: #8B9F9F;
  font-family: var(--font-family-cormorant);
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
  transform: translate(0px, -36px);
  @media #{$sm} {
    font-size: 20px;
    line-height: 20px;
    transform: translate(0px, -24px);
  }
}

.portfolio-area {
  .section-title {
    @media #{$xl} {
      max-width: 600px;
    }  
    @media #{$md} {
      font-size: 35px;
    }  
  }
}



/*=======================================================================
Ideas Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 1370px) {
  .project-status-content .project-list .count-project {
    strong,
    span {
      font-size: 80px;
      line-height: 124px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .project-status-content {
    padding: 30px;

    .project-list {
      align-items: center;

      .count-project {
        strong,
        span {
          font-size: 60px;
          line-height: 64px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .project-status-content .project-list .count-project {
    strong,
    span { 
      padding-right: 10px;
    }
  }
}

@media only screen and (max-width: 570px) {
  .project-status-content {  
    .project-list .count-project {
      strong,
      span {
        font-size: 60px;
        padding-right: 10px;
      }
    }
  }
}


/*=======================================================================
 Best Service Area Start Hear 
=========================================================================*/

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller {
  &[data-animated='true'] {
    overflow: hidden;

    .scroller__inner {
      width: max-content;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
    }
  }

  .tag-list .img {
    flex: none;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 1;
  transition: all .3s ease 0s;
  width: 90%;
  z-index: 9;

  /* padding: 18px 32px; */
  color: var(--white);

  /* background: rgb(28 28 29 / 80%) none repeat scroll 0 0; */
  visibility: visible;
  transform: translateY(0) scale(1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

  .project-details-content {
    text-align: start;
  } 

  .project-details-content h5 {
    font-family: var(--font-family-cormorant);
    font-style: italic;
    margin: 0;
  }

  a i {
    padding: 22px;
    background-color: var(--main-primary);
    color: var(--white);
    cursor: pointer;

    &:hover {
      opacity: 75%;
    }
  }
}

.portfolio-area-2 .slick-dots {
  @media #{$lg} {
    bottom: -50px !important;
  }
    
}

.portfolio-iconwrap-2 {
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #1b2a2a;
  transition: var(--transition);
  &:hover {
    background: var(--gradient-yellow);
    .portfolio-icon-2 {
      filter: brightness(0);
    }
  }
} 

.portfolio-link-2 {
  display: flex;
  align-items: center;
  gap: 18px; 
} 

.portfolio-area-2 { 
   padding-bottom: 390px;
   @media #{$sm} {
    padding-bottom: 280px;
  }
  .portfolio-left-title {
    color: var(--white);
    font-family: var(--font-family-cormorant);
    font-size: 32px;
    font-style: italic;
    font-weight: 700; 
    text-transform: capitalize; 
  }
  .portfolio-right {
   &::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(178deg, rgba(15, 31, 31, 0.00) 34.98%, rgba(15, 31, 31, 0.90) 78.61%);
   }
  }
  .portfolio-title-2 { 
    color: var(--white);
    font-family: var(--font-family-cormorant);
    font-size: 32px;
    font-style: italic;
    font-weight: 700; 
    text-transform: capitalize;
    padding-bottom: 10px;
    transition: var(--transition);
    &:hover {
      color: var(--orange-dark);
    }
  }
  
  .portfolio-list-2 {
    margin-bottom: 30px;
    transition: var(--transition);
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      .portfolio-left-title {
        color: var(--orange-dark);
      }
      .portfolio-iconwrap-2 {
        background: var(--orange-dark); 
      }
      .portfolio-icon-2 {
        filter: brightness(0);
      }
    } 
    @media #{$xxl} { 
      margin-bottom: 15px;
    }  

  }
  
  .portfolio-text-2 {
    color:#8B9F9F; 
    font-size: 16px;
    font-weight: 400;
    max-width: 350px;
  } 
  .porfolio-icon-right {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--gradient-yellow); 
    transform: translate(0px, 11px);  
  }
  
  .portfolio-iconwrap-2 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px; 
    background-color: #1b2a2a;  
    transition: var(--transition);
    &:hover {
      background: var(--gradient-yellow); 
    }
  }
  
  .project-content-right{
    position: absolute;
    bottom: 50px;
    left: 50px;
    align-items: baseline;
    display: grid;
    grid-template-columns: 55px auto;
    @media #{$sm} {  
      bottom: 27px; 
      left: 10px; 
    }
  }
  
 .portfolio-shape-1 {
    position: absolute;
    top: -8%;
    right: 2%;
    z-index: -1;
    @media #{$lg} {
      display: none;
    }
  }
  
 .portfolio-shape-2 {
    position: absolute;
    bottom: -25%;
    left: 0%;
    @media #{$lg} {
      display: none;
    }
  }

 .portfolio-shape-3 {
    position: absolute;
    bottom: 104px;
    right: 6%;
    @media #{$lg} {
      display: none;
    }
} 

 .portfolio-shape-4 {
    position: absolute;
    right: 0;
    top: 11%;
    z-index: -1;
    @media #{$lg} {
      display: none;
    }
  } 

}

.portfolio-top-wrap {
  @media #{$sm} {
    text-align: center;
  } 
}

/*=======================================================================
Portfolio Layout Two Page  Start Hear
=========================================================================*/

.portfolio-project-img {
  height: 100%;

  img {
    height: 100%;
  }
}

/*=======================================================================
 portfolio-accordion-2 Planes Area Start Hear 
=========================================================================*/

.portfolio-accordion-2 {
  background-color: var(--main-secondary);
  padding: 0 20px;

  .portfolio-accordion-item {
    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}